<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: resource, url: registration_path(resource_name), local: true) do |f| %> <!-- form_withメソッドを使って、フォームを作成 -->
      <%= render "devise/shared/error_messages", resource: resource %> <!-- エラーメッセージを表示 -->

      <div class="field"> <!-- ユーザー名のフィールド -->
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field"> <!-- メールのフィールド -->
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field"> <!-- パスワードのフィールド -->
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field"> <!-- パスワード確認のフィールド -->
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field"> <!-- 現在のパスワードのフィールド -->
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions"> <!-- 更新ボタン -->
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>