<% provide(:title, 'Log in') %> 
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!-- 以下のコードは、ログインページのフォームを表示するためのものです。 -->
    <%= form_with(url: user_session_path) do |f| %> 

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>